<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products List</title>
</head>

<body>
    <h1>Hola</h1>
    <% if (typeof products !== 'undefined' && products.length > 0) { %>
        <% products.forEach((product) => { %>
            <h4>
                <a href="/products/<%= product.id %>"><%= product.productTitle %></a>
            </h4>
            <p><%= product.productDescription %></p>
            <p>Price: <%= product.productPrice %> Bath</p>
        <% }); %>
    <% } else { %>
        <p>No products found</p>
    <% } %>
</body>
</html>